*{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body,html{
width:100%;
height: 100%;
}
nav{
    width:100%;
    height: 80px;
    background-color: plum;
}
.logo{
    font-size: 45px;
    font-weight: 600;
    color: black;
    margin-left: 20px;
    line-height: 80px;
}
nav ul{
    float: right;
    list-style: none;
   
} 
ul li{

  /* /* line-height: 80px; */
  display:inline-block;
   padding: 20px; 
 
}
ul li a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    padding: 10px 20px; 
     /* margin-right: 25px; */
     /* background-color: black; */
} 
ul li a.active{
    color:rgb(248, 244, 248);
    background-color: black;
}
ul li a:hover{
    color:rgb(248, 244, 248);
    background-color: black;
}
#check{
    display: none;
}
#chk-btn{
    float: right;
    font-size: 30px;
   /* line-height: 80px; */
    display: none;
    padding: 20px;
 
}
@media(max-width:768px){
#chk-btn{
 display: block;
}
nav ul{
width:100%;
height: 100vh;
background-color: plum;
position: fixed;
left:-100%;
top:80px;
display: flex;
flex-direction: column;
align-items: center;

}
nav ul li{
    /* display: block;
    text-align: center;
    */
  
    padding: 30px; 
}
}
#check:checked ~ul{
    left: 0%;
}
